<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dtdream.mysell.mapper.OrderMasterMapper" >
  <resultMap id="BaseResultMap" type="com.dtdream.mysell.model.OrderMaster" >
    <id column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="buyer_phone" property="buyerPhone" jdbcType="VARCHAR" />
    <result column="buyer_address" property="buyerAddress" jdbcType="VARCHAR" />
    <result column="buyer_openid" property="buyerOpenid" jdbcType="VARCHAR" />
    <result column="oder_amount" property="oderAmount" jdbcType="DECIMAL" />
    <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="table">t_order_master</sql>
  <sql id="Base_Column_List" >
    order_id, buyer_name, buyer_phone, buyer_address, buyer_openid, oder_amount, order_status, 
    pay_status, create_time, update_time
  </sql>
  <sql id="standard">
      #{orderId,jdbcType=VARCHAR}, #{buyerName,jdbcType=VARCHAR}, #{buyerPhone,jdbcType=VARCHAR},
      #{buyerAddress,jdbcType=VARCHAR}, #{buyerOpenid,jdbcType=VARCHAR}, #{oderAmount,jdbcType=DECIMAL},
      #{orderStatus,jdbcType=TINYINT}, #{payStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
      #{updateTime,jdbcType=TIMESTAMP}
  </sql>
  <sql id="content">
      <if test="buyerName != null" >buyer_name = #{buyerName,jdbcType=VARCHAR},</if>
      <if test="buyerPhone != null" >buyer_phone = #{buyerPhone,jdbcType=VARCHAR},</if>
      <if test="buyerAddress != null" >buyer_address = #{buyerAddress,jdbcType=VARCHAR},</if>
      <if test="buyerOpenid != null" >buyer_openid = #{buyerOpenid,jdbcType=VARCHAR},</if>
      <if test="oderAmount != null" >oder_amount = #{oderAmount,jdbcType=DECIMAL},</if>
      <if test="orderStatus != null" >order_status = #{orderStatus,jdbcType=TINYINT},</if>
      <if test="payStatus != null" >pay_status = #{payStatus,jdbcType=TINYINT},</if>
      <if test="createTime != null" >create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null" >update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="table"/>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>

  <select id="findByBuyOpenId" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
      <include refid="Base_Column_List" />
    FROM t_order_master
      <where>
        <if test="oponId != null">
          buyer_openid = #{oponId,jdbcType=VARCHAR}
        </if> ORDER BY create_time DESC
      </where>
  </select>

  <select id="findAll" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM t_order_master
    ORDER BY create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from <include refid="table"/>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dtdream.mysell.model.OrderMaster" >
    insert into <include refid="table"/>
    (<include refid="Base_Column_List"/>)
    values (<include refid="Base_Column_List"/>)
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.dtdream.mysell.model.OrderMaster" >
    update <include refid="table"/>
    <set >
      <include refid="content"/>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
</mapper>