<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dtdream.mysell.mapper.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.dtdream.mysell.model.OrderDetail" >
    <id column="detail_id" property="detailId" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_quantity" property="productQuantity" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="table">t_order_detail</sql>
  <sql id="Base_Column_List" >
    detail_id, order_id, product_id, product_name, product_price, product_quantity, create_time,
    update_time
  </sql>
  <sql id="standard">
    #{detailId,jdbcType=VARCHAR},#{orderId,jdbcType=VARCHAR},#{productId,jdbcType=VARCHAR},
    #{productName,jdbcType=VARCHAR},#{productPrice,jdbcType=DECIMAL},#{productQuantity,jdbcType=INTEGER},
    #{createTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP}
  </sql>
  <sql id="content">
      <if test="detailId != null" >detail_id = #{detailId,jdbcType=VARCHAR},</if>
      <if test="orderId != null" >order_id = #{orderId,jdbcType=VARCHAR},</if>
      <if test="productId != null" >product_id = #{productId,jdbcType=VARCHAR},</if>
      <if test="productName != null" >product_name = #{productName,jdbcType=VARCHAR},</if>
      <if test="productPrice != null" >product_price = #{productPrice,jdbcType=DECIMAL},</if>
      <if test="productQuantity != null" >product_quantity =  #{productQuantity,jdbcType=INTEGER},</if>
      <if test="createTime != null" >create_time = #{createTime,jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null" >update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="table"/>
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </select>
  <select id="findByOrder" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
      <include refid="Base_Column_List" />
    FROM t_order_detail
    WHERE
      order_id = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from <include refid="table"/>
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.dtdream.mysell.model.OrderDetail" >
    INSERT INTO <include refid="table"/>
      (<include refid="Base_Column_List"/>)
    values
      (<include refid="standard"/>)
  </insert>
   
  <insert id="batchInser" parameterType="java.util.List">
    INSERT INTO t_order_detail (detail_id, order_id, product_id,
        product_name, product_price, product_quantity)
    VALUES
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.detailId,jdbcType=VARCHAR}, #{item.orderId,jdbcType=VARCHAR}, #{item.productId,jdbcType=VARCHAR},
      #{item.productName,jdbcType=VARCHAR}, #{item.productPrice,jdbcType=DECIMAL}, #{item.productQuantity,jdbcType=INTEGER}
    )
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtdream.mysell.model.OrderDetail" >
    update <include refid="table"/>
    <set >
      <include refid="content"/>
    </set>
    where detail_id = #{detailId,jdbcType=VARCHAR}
  </update>
</mapper>