<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dtdream.mysell.mapper.ProductInfoMapper" >
  <resultMap id="BaseResultMap" type="com.dtdream.mysell.model.ProductInfo" >
    <id column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
    <result column="product_stock" property="productStock" jdbcType="INTEGER" />
    <result column="product_description" property="productDescription" jdbcType="VARCHAR" />
    <result column="product_img" property="productImg" jdbcType="VARCHAR" />
    <result column="category_type" property="categoryType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="table">t_product_info</sql>
  <sql id="Base_Column_List" >
    product_id, product_name, product_price, product_stock, product_description, product_img, 
    category_type,status, create_time, update_time
  </sql>
  <sql id="standard">
      #{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL},
      #{productStock,jdbcType=INTEGER}, #{productDescription,jdbcType=VARCHAR}, #{productImg,jdbcType=VARCHAR},
      #{categoryType,jdbcType=INTEGER},#{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
  </sql>
  <sql id="content">
      <if test="productId != null" >#{productId,jdbcType=VARCHAR},</if>
      <if test="productName != null" >#{productName,jdbcType=VARCHAR},</if>
      <if test="productPrice != null" >#{productPrice,jdbcType=DECIMAL},</if>
      <if test="productStock != null" >#{productStock,jdbcType=INTEGER},</if>
      <if test="productDescription != null" >#{productDescription,jdbcType=VARCHAR},</if>
      <if test="productImg != null" >#{productImg,jdbcType=VARCHAR},</if>
      <if test="categoryType != null" >#{categoryType,jdbcType=INTEGER},</if>
      <if test="status != null" >#{status,jdbcType=INTEGER},</if>
      <if test="createTime != null" >#{createTime,jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null" >#{updateTime,jdbcType=TIMESTAMP}</if>
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="table"/>
    where product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <select id="findUpFrameProduct" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    SELECT
      <include refid="Base_Column_List"/>
    FROM
      <include refid="table"/>
    WHERE status = #{status,jdbcType=INTEGER}
  </select>

  <select id="findList" parameterType="java.lang.String" resultMap="BaseResultMap" >
      SELECT
      <include refid="Base_Column_List" />
      FROM <include refid="table"/>
      <where>
          <if test="productName != null">
              product_name = LIKE CONCAT('%',#{productName},'%')
          </if>
      </where>
      ORDER BY create_time DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from <include refid="table"/>
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dtdream.mysell.model.ProductInfo" >
    insert into <include refid="table"/>
    (<include refid="Base_Column_List"/>)
    values (<include refid="content"/>)
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtdream.mysell.model.ProductInfo" >
    update <include refid="table"/>
    <set >
      <include refid="content"/>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>